<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/ChargeAndChew.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.chargeandchew.app</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>6</string>
		<key>SigningIdentity</key>
		<string>Apple Development: durukan_al@yahoo.com (2TNFTA48D9)</string>
		<key>Team</key>
		<string>T37B6B6S7K</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-09-08T06:44:45Z</date>
	<key>Name</key>
	<string>ChargeAndChew</string>
	<key>SchemeName</key>
	<string>ChargeAndChew</string>
</dict>
</plist>
